#shenjs_repl_out, #shenjs_repl_in {
	font-family: monospace;
}

#shen, #shen_fs {
	padding: 7px;
}

#shen {
	background: white;
}

#shenjs_repl_help {
	font-size: small;
}

#shen_fs {
	background: #eef;
	border: 1px solid #777;
}

#shenjs_fs_title {
	font-weight: bold;
	border-bottom: 1px solid #bbd;
	margin-bottom: 7px;
}

#shen_fs ul li {
	display: inline;
	white-space: nowrap;
}
