/* { GENERAL */
.tbl {
  display: table;
  border-collapse: collapse;
}
.tbl_row {display: table-row;}
.tbl_cell {display: table-cell;}

.tbl_cell_outer {
  display: table-cell;
  height: 100%;
}

.tbl_cell_inner {
  height: 100%;
  position: relative;
  overflow: auto;
}

.hidden {visibility: hidden;}
.undisplayed {display: none;}
.tt_font {font-family: Courier, Fixed, monospace;}

.norm_fg {color: #212121;}
.norm_bg {background-color: #ffffff; border-color: #7f7f7f;}

.alt_fg {color: #212121;}
.alt_bg {background-color: #03a9f4; border-color: #0070c0;}

.accent_fg {color: #212121;}
.accent_bg {background-color: #b3e5fc; border-color: #83b5cc;}

.entry_fg {color: #212121;}
.entry_bg {background-color: #ffffff; border-color: #7f7f7f;}

.btn_font {font-family: monospace; font-weight: bold;}
.btn_fg {color: #fff;}
.btn_bg {background-color: #8bc34a; border-color: #7f7f7f;}
.btn_bg:hover {background-color: #7bb33a; border-color: #7f7f7f;}
.btn_bg:active {background-color: #000; border-color: #000;}
/* } GENERAL */
/* 
#0288D1
#03A9F4
#B3E5FC
#8BC34A
*/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.code {
  font-family: monospace;
  font-size: 14px;
}

.expand {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.maximized {
  position: absolute;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 100;
  background: #fff;
  width: 100% !important;
  height: 100% !important;
  transition: 0.1s;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
  transition: transform 0.5s;
}

.fs_opened {
  transform: translateX(18em);
  transition: transform 0.5s;
}

.main {
  width: 100%;
  height: 100%;
  position: absolute;
}

.fs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  width: 18em;
  height: 100%;
}

.editor {
  right: 50%;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 1px dashed red;
}

.outer {
  width: 100%;
  height: 100%;
}

.inner {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  border: 1px solid Black;
}

.editor_edit {
  resize: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

.hdr {
  position: relative;
}

.hdr_title {
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.repl {
  width: 50%;
  height: 100%;

  left: 50%;
  
  margin: 0;
  padding: 0;
  border: 1px dashed Green;
}

.repl_out_container {
  border: 1px dotted Black;
  width: 100%;
  height: 100%;
}

.repl_out {
  width: 100%;
  height: 100%;
  white-space: pre;
}

.repl_in {
  resize: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 1px solid Black;
  margin: 0;
  padding: 0;
}

.repl_in_inner {
  width: 100%;
}

.hdr_tool {
  white-space: nowrap;
}

.wait_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #667;
  z-index: 1000;
}

.wait_pane {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  padding: 16px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
}

.wait_text {
  font-family: serif;
  font-size: 18px;
}

.wait_error {
  background-color: Red;
}

input.fs_toggle {
  display: none;
}

input.fs_toggle + label button {
  padding: 0 4px;
  border: 1px solid;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
